<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Random Employee Data</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">RandomGen</div>
            <div class="hamburger" onclick="toggleMenu()">☰</div>
            <ul id="nav-links">
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy">Privacy</a></li>
            </ul>
        </nav>
    </header>
    

    <div class="container">
        <h1>Welcome to Employee Data Generator</h1>
        <div class="generated-data">
        </div>
        <button class="generate-data">Generate Data</button>
    </div>
    <script src="btn.js"></script>
    <script src="./script.js"></script>
</body>
</html>
